* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --index: calc(1vw + 1vh);
    --transition: cubic-bezier(.1, .7, 0, 1);
}

body {
    background: #3c3c3c;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.items {
    display: flex;
    gap: .3rem;
    perspective: calc(var(--index) * 35);
}

.item {
    width: calc(var(--index) * 3);
    height: calc(var(--index)* 12);
    background: gray;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 1.3s var(--transition);
    will-change: transform;
}

.item::before, .item::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 100%;
    right: calc(var(--index) * -1);
}

.item::after {
    left: calc(var(--index) * -1);
}

.item:hover {
    transform: translateZ(calc(var(--index) * 10));
}

/* right elements */

.items .item:hover + * {
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
    z-index: -1;
}
.items .item:hover + * + * {
    transform: translateZ(calc(var(--index) * 5.5)) rotateY(40deg);
    z-index: -2;
}
.items .item:hover + * + * + * {
    transform: translateZ(calc(var(--index) * 3)) rotateY(30deg);
    z-index: -3;
}
.items .item:hover + * + * + * + * {
    transform: translateZ(calc(var(--index) * 1)) rotateY(16deg);
    z-index: -4;
}

/* left elements */
.item:has(+ :hover) {
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(-35deg);
}
.item:has(+ * + :hover) {
    transform: translateZ(calc(var(--index) * 5.5)) rotateY(-40deg);
}
.item:has(+ * + * + :hover) {
    transform: translateZ(calc(var(--index) * 3)) rotateY(-30deg);
}
.item:has(+ * + * + * + :hover) {
    transform: translateZ(calc(var(--index) * 1)) rotateY(-16deg);
}