* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

html {
	background: #3c3c3c;
}

body {
	background: url(../assets/img/bg.jpg) center center/cover no-repeat;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}